/** Mixins **/
body {
    font-family: "Lato", sans-serif;
  }
  
  .hero-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a94e8;
    flex-wrap: wrap;
  }
  
  .canvas {
    position: absolute;
   
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .container-item {
    position: relative;
    pointer-events: none;
  }
  
  .click-text {
    padding-left: 2px;
  }
  
  .bold-font {
    text-decoration: underline;
  }
  
  .reset-button {
    position: absolute;
    right: 10px;
    top: 30px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .particle-count {
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
  }
  
  .hero-title {
    color: #3d434a;
    font-size: 3em;
  }
  @media only screen and (min-width: 320px) {
    .hero-title {
      font-size: 2em;
    }
  }
  @media only screen and (min-width: 480px) {
    .hero-title {
      font-size: 4em;
    }
  }
  
  .hero-subtitle {
    padding-left: 2px;
    font-size: 1.2em;
  }